@import 'helpers';
@mixin placeholder{
  &::-webkit-input-placeholder{
    @content;
  }

  &:-moz-placeholder{ /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder{ /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder{
    @content;
  }
}
@mixin box-decor($box-shadow:-1,$border-radius:-1,$background:-1,$padding:-1){
  transition:$glob-trans;
  @if $background == -1{ background-color:glob-color('light'); } @else{ background-color:transparent; }
  @if $box-shadow == -1{ box-shadow:$glob-box-shadow } @else{ box-shadow:none }
  @if $border-radius == -1{ border-radius:$glob-border-radius} @else{ border-radius:0}
  @if $padding == -1{ padding:2em } @else{ padding:0}
}









