.btn{
  $color_bg-default:glob-color('default');
  $color_bg-main:glob-color('success');
  $color_text-main:glob-color('light');
  $padding:calc-em(7) calc-em(20);
  background-color:$color_bg-main;
  color:$color_text-main;
  padding:$padding;
  border-radius:3px;
  display:inline-block;
  vertical-align:top;
  font-weight:400;
  line-height:1.2;
  border:1px solid transparent;
  cursor:pointer;
  position:relative;
  text-align:center;

  &_block{
    width:100%;
  }

  &_sign{
    color:$color_text-main;
    border:0;
    box-shadow:0 -1px 14px 2px rgba(222, 163, 31, .53);
    font-weight:600;
    background:#ff783c;
    background:linear-gradient(to right, #ff783c 0%, #ffb815 100%);
    padding:1em 2em;
    border-radius:2em;
  }

  &_default{
    background-color:$color_bg-default;
  }

  &_edit{
    padding:calc-em(7) calc-em(7);
    .icon{
      width:15px;
      height:15px;
    }
  }
}