
.field{
  $self:&;
  text-align:left;
  position:relative;
  &[aria-invalid="true"]:not([aria-required="false"]) &__input{border-color:glob-color('error')}

  &__input{
    width:100%;
    position:relative;
    border:1px solid glob-color('border');
    border-radius:$glob-border-radius_field;
    padding:calc-em(11) calc-em(20);
    line-height:1;
    background-color:glob-color('light');
    -webkit-appearance:none;

    &[type="text"] + #{$self}__eye::before{
      transform:translate(-50%, -50%) rotate(-45deg) scale(1);
    }

  }

  &__label{
    z-index:1;
    @extend %full-abs;
    pointer-events:none;
    transition:$glob-trans;
    line-height:$lh_main;
    top:50%;
    transform:translateY(-50%);
    padding-left:calc-em(20);
    bottom:auto;
  }

  &_focus &__label, &_has_value &__label, &_select &__label{
    font-size:$fsz_h6;
    top:-1em;
    padding:.5em 1.8em;
  }

  &__error{
    color:glob-color('error');
    font-size:$fsz_h6;
    padding:5px 0 0 0;
    display:block;
    font-weight:inherit;
  }

  &__eye{
    @extend %btn-text;
    padding:1.4em;
    right:0;
    top:0;
    position:absolute;
    .icon{
      width:14px;
    }
    &:before{
      content:'';
      width:12px;
      height:1px;
      background:var(--color-main);
      left:48%;
      top:50%;
      transform:translate(-50%, -50%) rotate(-45deg) scale(0);
      position:absolute;
      box-shadow:0 1px 0 glob-color('light');
      z-index:1;
      transition:$glob-trans;
    }

  }

  &__select.v-select.single{
    .dropdown-toggle{
      @extend #{$self}__input;
    }
    .selected-tag{
      /* padding-right: em(6)!important;
       text-overflow: ellipsis;
       overflow: hidden;
       white-space:nowrap;*/
      @extend %full-abs;
      line-height:1.2;
    }
    .form-control, .selected-tag, .vs__selected-options{margin:0;padding:0;border:0;line-height:1}
    .clear{display:none}

    &.open .selected-tag{position:relative}

    .dropdown-menu{
      padding:.8em 0;
      border:1px solid white;
      box-shadow:$glob-box-shadow;
      margin-top:10px;
      overflow-y:auto;
      border-radius:$glob-border-radius_field;
      max-height:400px !important;

      li > a{
        line-height:1.2;
        padding:.8em 15px;
        color:glob-color('secondary');
        white-space:normal;
        border-bottom:0;
      }

      .highlight > a{
        background:none;
        //color:glob-color('info-light');
      }

      .active a{
        background:glob-color('info-light');
      }

    }
    .open-indicator{
      @extend %g-icon-down; //todo может убрать из глобалки и перенести сюда

      bottom:50%;
      transform:translateY(50%);
      right:5px;
      &:before, &:after{ border:0; vertical-align:inherit; }
    }
    [role="presentation"].open-indicator{
      position:absolute;
    }
    &.open .open-indicator{
      $deg:45deg;
      &:before{ transform:rotate(-($deg)) }
      &:after{ transform:rotate($deg) }
      bottom:50%;
      transform:translateY(50%);
      right:5px;
    }

    .spinner{
      top:0;
      right:-2em;
      border-left-color:glob-color('main');
      overflow:visible;
      transform:none;
      transition:none;
      animation:none;
      border:0;
      &:before{
        width:20px;
        height:20px;
        margin-top:-10px;
        margin-left:-10px;
      }

    }

    &.disabled .dropdown-toggle input{
      background-color:inherit;
      cursor:default;
    }
    &.disabled .dropdown-toggle{
      background-color:glob-color('disabled_field');
    }

  }

}



