%g-icon-down, .g-icon-down{
  display:block;
  $deg:43deg;
  $sz:40px;
  cursor:pointer;
  background:none;
  border:0;
  width:$sz;
  height:$sz;
  text-align:center;
  position:relative;
  line-height:$sz;
  color:glob-color('main');
  padding:0;
  &:before,
  &:after{
    width:8px;
    height:1px;
    background:currentColor;
    content:'';
    display:inline-block;
    margin:-1px;
    position:relative;
    top:-5px;
    transition:$glob-trans
  }
  &:before{
    transform:rotate($deg)
  }
  &:after{
    transform:rotate(-($deg))
  }
  &_open:before,
  .g-icon-down-hover:not(.dropdown_disabled):hover &:before,
  .dropdown:not(.dropdown_disabled) .g-icon-down-focus:focus &:before{
    transform:rotate(-($deg))
  }
  &_open:after,
  .g-icon-down-hover:not(.dropdown_disabled):hover &:after,
  .dropdown:not(.dropdown_disabled) .g-icon-down-focus:focus &:after{
    transform:rotate($deg)
  }
}



