a, .link{
  color:glob-color('info');
  transition:$glob-trans;

  &[href^="tel:"]{
    border-bottom:0 !important;
    color:inherit !important;
    text-decoration:none !important;
    cursor:default;
  }

  &:hover{text-decoration:none}
}