table{ border-spacing:0; border-collapse:collapse; margin:0; width:100%;vertical-align:top }
table:not([class]){
  margin-bottom:calc-em(20);
}
th{text-align:left;font-weight:inherit}
th:not([class]){font-weight:600}
tbody, tfoot, thead, tr, th, td{ vertical-align:inherit; }

.table{
  $self:&;
  $color_border:glob-color('border');
  $color_bg-hover:glob-color('info-lighten');
  $color_border-left:glob-color('info');
  $transition:$glob-trans;
  width:100%;
  table-layout:fixed;
  vertical-align:middle;

  &__td{
    transition:$transition;
    padding-left:calc-em(15);
    padding-right:calc-em(15);

    &:first-child{
      border-left:3px solid transparent;
    }

    &:not(&_th){border-bottom:1px solid $color_border;}

    &_th{
      font-weight:700;
      padding-bottom:calc-em(50);
    }
  }

  &__tr:hover &__td:not(&__td_th){
    &:first-child{
      border-left-color:$color_border-left;
    }
    background-color:$color_bg-hover;
  }

}