%h1, %h2, %h3, %h4, %h5, %h6{margin:0 0 1em; line-height:1.2; font-weight:700;color:glob-color('main-text'); }
/*%h1:not([class]),
%h2:not([class]),
%h3:not([class]),
%h3:not([class]),
%h5:not([class]),
%h5:not([class]),
%h6:not([class]) {
  margin:0 0 em(2);
}*/
%h1{ font-size:$font-size_h1; }
%h2{ font-size:$font-size_h2;}
%h3{ font-size:$fsz_h3;}
%h4{ font-size:$fsz_h4;}
%h5{ font-size:$fsz_h5; }
%h6{ font-size:$fsz_h6; }
h1, .h1{ @extend %h1}
h2, .h2{ @extend %h2}
h3, .h3{ @extend %h3 }
h4, .h4{ @extend %h4 }
h5, .h5{ @extend %h5 }
h6, .h6{ @extend %h6 }
p{margin:0;}
.g-p, p:not([class]){
  margin:0 0 calc-em(18);
}
strong{
  font-weight:inherit;
}
strong :not([class]), .g-strong{
  font-weight:600;
}
small{font-size:inherit}
small:not([class]), .g-small{
  font-size:$fsz_small;
}


