@import "colors";

//FONT
$font-family_main:'Roboto', 'Lato', Helvetica, Arial, sans-serif;

$glob-font-size_main:13px;

@function calc-em($target, $context: $glob-font-size_main){
  $target:$target * 1px;
  @return ($target / $context) * 1em;
}

$glob-font-size_h1:calc-em(19);
$glob-font-size_h2:calc-em(15);
$glob-font-size_small:calc-em(11);


$glob-font-size_h3:calc-em(14);
$glob-font-size_h4:calc-em(13);
$glob-font-size_h5:calc-em(12);
$glob-font-size_h6:calc-em(11);
$glob-font-size_small:calc-em(11);

$glob-line-height_main:1.2;


$width_xs:767px;
$width_md:1023px;
$width_lg:1200px;
$width_xl:1370px;



$glob-trans:.3s ease-in-out;
$glob-border-radius:5px;
$glob-border-radius_field:$glob-border-radius * 2;
$glob-box-shadow:0 2px 9px 1px rgba(0, 0, 0, .12);


//indent

$glob-indent-main-lr:calc-em(15)



