
%btn-text{
  padding:0;
  border:0;
  background:none;
  color:glob-color('main');
  text-align:inherit;
  box-shadow:none;
}
%bgi{
  background:no-repeat center/cover;
}
%op_0{
  opacity:0;
  visibility:hidden;
}
%op_1{
  opacity:1;
  visibility:visible;
}

%full-abs{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}
%visuallyhidden{
  position:absolute;
  white-space:nowrap;
  width:1px;
  height:1px;
  overflow:hidden;
  border:0;
  padding:0;
  clip:rect(0 0 0 0);
  clip-path:inset(50%);
  margin:-1px;
}
%g-icon-down{
  display:block;
  $deg:43deg;
  $sz:40px;
  cursor:pointer;
  background:none;
  border:0;
  width:$sz;
  min-width:$sz;
  height:$sz;
  text-align:center;
  position:relative;
  line-height:$sz;
  color:glob-color('main');
  padding:0;
  &:before,
  &:after{
    width:8px;
    height:1px;
    background:currentColor;
    content:'';
    display:inline-block;
    margin:-1px;
    position:relative;
    top:-5px;
    transition:$glob-trans
  }

  &_md:before,
  &_md:after{
    width:6px;
  }

  &:before{
    transform:rotate($deg)
  }
  &:after{
    transform:rotate(-($deg))
  }
  &_open:before{
    transform:rotate(-($deg))
  }
  &_open:after{
    transform:rotate($deg)
  }
}

%row-flex {
  display:flex;
  $sz:calc-em(10);
  margin-left:-( $sz);
  margin-right:-( $sz);

  & > li {
    padding-left: $sz;
    padding-right: $sz;

  }
}

%h1, %h2, %h3, %h4, %h5, %h6{margin:0 0 1em; line-height:1.2; font-weight:700;color:glob-color('main-text'); }
%h1{ font-size:$glob-font-size_h1; }
%h2{ font-size:$glob-font-size_h2;}
%h3{ font-size:$glob-font-size_h3;}
%h4{ font-size:$glob-font-size_h4;}
%h5{ font-size:$glob-font-size_h5; }
%h6{ font-size:$glob-font-size_h6; }



